.add-task__form {
    background-color:  rgb(121, 182, 242);
    padding: 20px;
    margin-bottom: 5px;
    border-radius: 30px;
        input {
            border: none;
            outline: none;
           
        }
        button {
            cursor: pointer;
        }
        
}
